<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gdgyangon.kanaung">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/unicode"
        android:label="@string/app_name">

        <activity
            android:name="org.gdgyangon.kanaung.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="org.gdgyangon.kanaung.FlyService"
            android:exported="true" />
    </application>


</manifest>
